// color variables

$grey: #777;
$light-blue: #58e1c1;
$aqua-green: #51ddfc;
$white: #fff;
$purple: #927bc1;

// color variables button

$color-hover: lighten($aqua-green, 15%);

// media queries variables

$break:'(min-width:768px)';